<template>
  <div class="bg-red">
    <h1><code>Advanced Custom Fields (ACF) Demo</code></h1>

    <ul v-if="errors && errors.length">
      <li v-for="(error, index) of errors" :key="index">
        {{ error.message }}
      </li>
    </ul>

    <ul v-if="posts && posts.length">
      <li v-for="post of posts" :key="post.id">
        <h1><strong>{{ post.title.rendered }}</strong></h1>
        <code>Time: {{ post.date }} </code>
        <h2>
          Gutenberg Blocks
        </h2>
        <ul>
          <li
            v-for="(block, index) of post.blocks"
            v-if="block.blockName != null"
            :key="block.innerHTML.slice(0,20)"
            class="block"
          >
            <p><strong>Block:</strong> {{ index + 1 }}</p>
            <p><strong>Type:</strong> {{ block.blockName }}</p>
            <p><strong>Content Raw:</strong><code>{{ block.innerHTML }}</code></p>
            <p><strong>Content Rendered:</strong></p>
            <div v-html="block.innerHTML"></div>
          </li>
        </ul>
        <h2>
          ACF Fields
        </h2>
        <ul>
          <li v-if="post.acf.title">
            Sample Title: {{ post.acf.title }}
          </li>
          <li v-if="post.acf.text">
            Sample Text: {{ post.acf.text }}
          </li>
          <li v-if="post.acf.image_text">
            Sample Image Text: {{ post.acf.image_text }}
          </li>
          <li v-if="post.acf.image_file">
            Sample Image: {{ post.acf.image_file }}
          </li>
          <li v-if="post.acf.author">
            Testimonial Author: {{ post.acf.author }}
          </li>
          <li v-if="post.acf.testimonial">
            Testimonial Quote: {{ post.acf.testimonial }}
          </li>
          <li v-if="post.acf.recommend">
            Testimonial Recommendation: {{ post.acf.recommend }}
          </li>
        </ul>

        <h2>Rendered Content (Truncated)</h2>
        <!--        /* eslint-disable */-->
        <div v-html="post.content.rendered.slice(0,200)" />
        <hr>
      </li>
    </ul>
  </div>
</template>

<script>
/* eslint-disable */
    import axios from 'axios';

    export default {
        data() {
            return {
                posts: [],
                errors: []
            }
        },

        // Fetches posts when the component is created.
        async created() {
            try {
                const response = await axios.get(`${this.$baseUrl}/posts`);
                this.posts = response.data
            } catch (e) {
                this.errors.push(e)
            }
        }
    }
</script>

<style>
  .bg-red {
    padding: 1rem;
    background: lightcoral;
  }
  ul, li {
    list-style-type: none;
    text-align: left;
  }
  .block{
    padding-left: 5px;
    border-left: 2px solid black;
    margin: 0.5rem 2px;
  }
</style>
