<template>
  <div>
    <div class="container-top">
      <h1><code>NUXT.js Frontend Demos for Headless WordPress</code></h1>
      <p>This is part of a Bachelor Thesis and may not be used in public. All rights reserved.</p>
      <p>The demo consists of multiple use-cases which are contained in single *.vue templates</p>

      <button
        v-for="(section, index) in sections"
        v-on:click="activeSection(section, index)"
        class="btn"
      >
        {{ section.title }}
      </button>

    </div>
    <div class="container">
      <SimplePostListing v-if="currentSection === 0" />
      <ACFDemo v-if="currentSection === 1" />
      <ImageSizes v-if="currentSection === 2" />
    </div>
  </div>
</template>

<script>
import ACFDemo from './ACFDemo'
import SimplePostListing from './SimplePostListing'
import ImageSizes from './ImageSizes'

export default {
  components: {
    ACFDemo,
    SimplePostListing,
    ImageSizes
  },
  data () {
    return {
      sections: [
        {
          title: 'Simple Post Listing',
          component: SimplePostListing
        },
        {
          title: 'ACF Field Demo',
          component: ACFDemo
        },
        {
          title: 'Image Resize Demo',
          component: ImageSizes
        }

      ],
      currentSection: null
    }
  },
  methods: {
    activeSection (section, index) {
      this.currentSection = index
    },
    getSection () {
      return this.sections[this.currentSection].component
    }
  }
}
</script>

  <style>
    .container {
      margin: 0 auto;
    }
    .container-top {
      padding: 1rem;
    }
    ul, li {
      list-style-type: none;
      text-align: left;
    }
    .btn {
      margin: 1rem 1rem 1rem 0;
      padding: 0.5rem;
      background: black;
      color: navajowhite;
      border: 0;
    }
  </style>
