<template>
  <div class="bg-green">
    <h1><code>Image Sizes Demo</code></h1>
    <p>Call a the <code>/media</code> route and try to render the resized image versions of an uploaded media item.</p>

    <ul v-if="errors && errors.length">
      <li v-for="(error, index) of errors" :key="index">
        {{ error.message }}
      </li>
    </ul>

    <ul v-if="posts && posts.length">
      <li v-for="media of posts" :key="media.id" v-if="media.media_type === 'image'">
        <h1><strong>{{ media.title.rendered }}</strong></h1>
        <code>Time: {{ media.date }} </code>
        <h2>Raw Content</h2>
        <img :src="media.source_url" alt="" style="max-width: 150px;">
        <p>
          Source URL: {{ media.source_url }}
        </p>
        <p>
          Original Media Size: {{ media.media_details.height }} x {{ media.media_details.width }}
        </p>
        <p>
          EXIF Data:
          <code>
            {{ media.media_details.image_meta }}
          </code>
        </p>
        <h2>
          Different Image Sizes
        </h2>
        <p>
          Raw resized image URL Output<br>
          <code>
            <a :href="media.media_details.sizes.thumbnail.source_url" target="_blank">Thumb</a>
            <a :href="media.media_details.sizes.medium.source_url" target="_blank">Medium</a>
            <a :href="media.media_details.sizes.medium_large.source_url" target="_blank">Medium Large</a>
            <a :href="media.media_details.sizes.large.source_url" target="_blank">Large</a>
            <a :href="media.media_details.sizes.thumbnail.source_url" target="_blank">Full</a>
          </code>
        </p>
        <hr>
      </li>
    </ul>
  </div>
</template>

<script>
/* eslint-disable */
    import axios from 'axios';

    export default {
        data() {
            return {
                posts: [],
                errors: []
            }
        },

        // Fetches posts when the component is created.
        async created() {
            try {
                const response = await axios.get(`${this.$baseUrl}/media`);
                this.posts = response.data
            } catch (e) {
                this.errors.push(e)
            }
        }
    }
</script>

<style>
  .bg-green {
    padding: 1rem;
    background: lightgreen;
  }
  ul, li {
    list-style-type: none;
    text-align: left;
  }
  hr {
    margin: 2rem 0;
  }
</style>
