<template>
  <div class="bg-blue">
    <h1><code>Simple Post Listing Demo</code></h1>
    <p>Call a the <code>/posts</code> route and try to render the content of the posts.</p>

    <ul v-if="errors && errors.length">
      <li v-for="(error, index) of errors" :key="index">
        {{ error.message }}
      </li>
    </ul>

    <ul v-if="posts && posts.length">
      <li v-for="post of posts" :key="post.id">
        <h1><strong>{{ post.title.rendered }}</strong></h1>
        <code>Time: {{ post.date }} </code>
        <h2>Raw Content</h2>
        <p>
          <code>
            {{ post.content.rendered }}
          </code>
        </p>
        <h2>Rendered Content</h2>
        <!--        /* eslint-disable */-->
        <div v-html="post.content.rendered" />
        <hr>
      </li>
    </ul>
  </div>
</template>

<script>
/* eslint-disable */
    import axios from 'axios';

    export default {
        data() {
            return {
                posts: [],
                errors: []
            }
        },

        // Fetches posts when the component is created.
        async created() {
            try {
                const response = await axios.get(`${this.$baseUrl}/posts`);
                this.posts = response.data
            } catch (e) {
                this.errors.push(e)
            }
        }
    }
</script>

<style>
  .bg-blue {
    padding: 1rem;
    background: lightblue;
  }
  ul, li {
    list-style-type: none;
    text-align: left;
  }
  hr {
    margin: 2rem 0;
  }
</style>
