<template>
    <div>
        <ul v-if="errors && errors.length">
            <li v-for="error of errors">
                {{error.message}}
            </li>
        </ul>

        <ul v-if="posts && posts.length">
            <li v-for="post of posts">
                <h1>{{post.date}} <strong>{{post.title.rendered}}</strong></h1>
                <h2>ACF Fields</h2>
                <ul>
                    <li>Simple Title: {{post.acf.title}}</li>
                    <li>Simple Text: {{post.acf.text}}</li>
                    <li>Simple Image Text: {{post.acf.image_text}}</li>
                    <li>Simple Image: {{post.acf.image_file}}</li>
                    <li>Testimonial Author: {{post.acf.author}}</li>
                    <li>Testimonial Avatar: {{post.acf.avatar}}</li>
                    <li>Testimonial Quote: {{post.acf.testimonial}}</li>
                </ul>
                <h2>Rendered Content</h2>
                <div v-html=post.content.rendered></div>
                <hr>
            </li>
        </ul>
    </div>
</template>

<script>
    /* eslint-disable */
    import axios from 'axios';

    const baseUrl = "http://localhost/wp-json/wp/v2";

    export default {
        data() {
            return {
                posts: [],
                errors: []
            }
        },

        // Fetches posts when the component is created.
        async created() {
            // axios.get(`${baseUrl}/posts`)
            //     .then(response => {
            //         console.log(response.data);
            //         this.posts = response.data
            //     })
            //     .catch(e => {
            //         this.errors.push(e)
            //     })

            try {
                const response = await axios.get(`${baseUrl}/posts`);
                this.posts = response.data
            } catch (e) {
                this.errors.push(e)
            }
        }
    }
</script>

<style>
    ul, li {
        list-style-type: none;
        text-align: left;
    }
</style>
