<template>
  <div class="page">
    <CaseWrapper />
  </div>
</template>

<script>
import CaseWrapper from '../components/CaseWrapper'

export default {
  components: {
    CaseWrapper
  }
}
</script>

<style>
  .page {
    margin: 1rem auto;
  }
</style>
